ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="17e9", TAG+="systemd", ENV{SYSTEMD_WANTS}+="displaylink.service"
ACTION=="remove", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ENV{PRODUCT}=="17e9/*", RUN+="/usr/bin/systemctl --no-block stop displaylink.service"
# Disable USB3 link power management (U1/U2) on the port, as done by the upstream installer
ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="17e9", TEST=="port/usb3_lpm_permit", ATTR{port/usb3_lpm_permit}="0"
